<!DOCTYPE html>
{% load staticfiles %}
{% load Rango_template_tags %}
<html>
    <head lang="en">
        <meta charset="UTF-8" />
        {% if user.is_authenticated %}
            howdy {{ user.username }}!
        {% else %}
            hey there partner!
        {% endif %}
        <title>
            Rango -
            {% block title_block %}
                It's Rango Django Time !
            {% endblock %}
        </title>
    </head>
    <body>
        <div>
            {% block sidebar_block %}
                {% get_category_list category %}
            {% endblock %}
        </div>
        <div>
            {% block body_block %}
                well I guess this page isn't important enough to be filled
            {% endblock %}
        </div>
        <hr />
        <div>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'Rango:restricted' %}">Restricted Page</a></li>
                    <li><a href="{% url 'Rango:logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'Rango:login' %}">Sign In</a></li>
                    <li><a href="{% url 'Rango:register' %}">Sign Up</a></li>
                {% endif %}
                <li><a href="{% url 'Rango:add_category' %}">Add New Category</a></li>
                <li><a href="{% url 'Rango:about' %}">About</a></li>
                <li><a href="{% url 'Rango:index' %}">Index</a></li>
            </ul>
        </div>
     </body>
    <div>
        <img src="{% static "images/Lenna.png" %}" alt="Picture of Lenna" width="804" height="200"/><br />
    </div>
</html>